

:root {
    --green: #00b925; 
    --blue: #06379d:
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
}

.title{
    background-color: var(--green);

}

.text-big-blue{
    color: #f4f4f4;
    padding: 50px;
    font-size: 40px;
}

.text-mid-blue {
    font-size: 25px;
    display: inline;
}

#lancebet {
    margin-bottom: -3px;
    max-width: 60px;
    
}




